{% extends "base.html" %}

{% block title %} Contact us {%endblock %}
{% block head_js %}
 {{ super() }}
{#
  uncoment this block to test AJAX 
 <script src="{{ url_for('static', filename= 'js/contact.js') }}" charset="utf-8"></script>
#}


{% endblock %}




{%block content %}


<div class="bs-docs-section">
     <div class="row">
       <div class="col-lg-12">
         <div class="page-header">
           <h1 id="forms">Contact US</h1>
         </div>
       </div>
     </div>
     <div class="row">
              <div class="col-lg-6">
                <div class="well bs-component">
                  <form class="form-horizontal" action="{{ url_for('postcontactUs') }}" id="contactform" method="post">
                    <fieldset>
                      <legend>Legend</legend>
                      <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                        <div class="col-lg-10">
                          <textarea class="form-control" rows="3" id="textArea" name="textAreaComments"></textarea>
                          <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                          <button type="reset" class="btn btn-default">Cancel</button>
                          <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>

              <div id="thankyou">

              </div>

{% endblock %}
